Source: snaprfs
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    cppthread-dev (>= 1.0.0.0~jammy),
    communicatord-dev (>= 2.0.8.1~jammy),
    debhelper-compat (= 13),
    dh-sysuser,
    doxygen,
    edhttp-dev (>= 1.0.4.1~jammy),
    eventdispatcher-dev (>= 1.0.4.0~jammy),
    graphviz,
    libaddr-dev (>= 1.0.31.0~jammy),
    libadvgetopt-dev (>= 2.0.4.0~jammy),
    libboost-dev,
    libexcept-dev (>= 1.1.4.0~jammy),
    libssl-dev (>= 1.0.1),
    libutf8-dev (>= 1.0.6.0~jammy),
    murmur3-dev (>= 1.0.6.1~jammy),
    snapcatch2 (>= 2.9.1.0~jammy),
    snapcmakemodules (>= 1.0.49.0~jammy),
    snapdev (>= 1.1.3.0~jammy),
    snaplogger-dev (>= 1.0.6.0~jammy)
Standards-Version: 3.9.4
Section: libs
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/snaprfs

Package: snaprfs-dev
Section: libdevel
Architecture: any
Depends: snaprfs (= ${binary:Version}), ${misc:Depends}
Description: Development package for the snaprfs service.
 This library provides functions to share files on remote computers.

Package: snaprfs-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for the snaprfs service and library.
 The snaprfs system provides ways to duplicate files between computers.

Package: snaprfs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ library for easy logging.
 This service and command line tools provides functions to duplicate files
 between computers, handle memory caches, and more.

# vim: ts=4 sw=4 et
