# Documentation available at:
# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=SnapRFS Daemon
Documentation=https://snapwebsites.org/project/snaprfs file:/usr/share/doc/snaprfs-doc/html/

[Service]
Type=simple
WorkingDirectory=~
ProtectHome=true
NoNewPrivileges=true
ExecStart=/usr/sbin/snaprfs
ExecStop=/usr/bin/ed-signal snaprfs/STOP
Restart=on-failure
RestartSec=10
# No auto-restart if configuration is invalid (exit code 9)
SuccessExitStatus=9
User=fluid-settings
Group=fluid-settings
LimitNPROC=1000
# For developers and administrators to get console output
#StandardOutput=tty
#StandardError=tty
#TTYPath=/dev/console
# Enter a size to get a core dump in case of a crash
#LimitCORE=10G

[Install]
WantedBy=multi-user.target

# vim: syntax=dosini
